# Porta do servidor
PORT=3010

# Chave de API para proteger endpoints
API_KEY=123456789

# Configurações Playwright
PLAYWRIGHT_HEADLESS=true
PLAYWRIGHT_TIMEOUT=60000

# Caminho para o executável do browser (Opcional, útil para usar o Brave no Linux)
# PLAYWRIGHT_EXECUTABLE_PATH=/usr/bin/brave-browser

# Logging
LOG_LEVEL=info
